h1 {
    margin-bottom: 60px;
}

.row {
    margin-bottom: 50px;
}

.blogheader {
    font-weight: bold;
    font-size: large;
}

a {
    color: #000000;
}

.editor {
    min-height: 300px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid darkblue;
}